body {
   margin: 0;
   font-family: Segoe UI, sans-serif;
   background-image: url('../images/bg.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-size: 16px;
   overflow-y: scroll;
   color: #fff;
}

body::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.85);
   z-index: -1;
}

a {
   color: #fff;
   font-weight: bold;
}

.top-bar {
   width: 70%;
   margin: 20px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #222;
   border-radius: 10px;
   overflow: hidden;
   border-style: solid;
   border-width: thin;
   font-size: 18px;
}

.top-bar a {
   float: left;
   text-align: center;
   padding: 12px 16px;
   text-decoration: none;
}

.top-bar a:hover {
   background-color: #ccc;
   color: black;
}

.right-info {
   font-weight: bold;
   padding-right: 17px;
}

.something {
   font-size: 20px;
   font-weight: bold;
   word-wrap: break-word;
   width: 60%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.content,
.color-settings-content {
   width: 60%;
   margin: auto;
}

.color-settings-content br {
   user-select: none;
}

.content span {
   color: #fff;
   font-size: 24px;
   font-weight: bold;
}

.content button {
   margin: 0;
   padding: 0;
   background-color: rgba(0, 0, 0, 0);
   border-width: 0px;
}

#texture-details.hide,
#view-distance.hide,
#far-object.hide,
#reflections.hide,
#shadows.hide,
#ambient-occlusion.hide,
#fog.hide,
#culling.hide,
#tonemap.hide,
#auto-exposure.hide,
#others.hide,
#raytracing.hide,
#extra.hide,
#rebar.hide {
   display: none;
}

.zoom-img {
   cursor: zoom-in;
   transition: transform 0s ease;
}

.zoom-img.zoomed {
   transform: scale(1.75);
   cursor: zoom-out;
}

.codebox {
   background-color: #333;
   font-family: Consolas, monospace;
}

.codebox p {
   padding: 14px;
   word-wrap: break-word;
}

code {
   font-family: Consolas, monospace;
   background-color: #333;
   padding: 0px 3px 0px 3px;
}

li:nth-child(n+2) {
   padding-top: 5px;
}

.slider {
   background: linear-gradient(to right, #CDC57C 0%, #CDC57C 50%, #2B2A33 50%, #2B2A33 100%);
   border-radius: 8px;
   height: 10px;
   width: 75%;
   -webkit-appearance: none;
   user-select: none;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 35px;
   background: #FFF;
   cursor: pointer;
   border-radius: 8px;
}

.slider::-moz-range-thumb {
   width: 15px;
   height: 35px;
   background: #FFF;
   cursor: pointer;
   border-radius: 8px;
}

.slider-label {
   font-size: 20px;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   width: 75%;
   user-select: none;
}

.slider-label p {
   margin-top: 10px;
   margin-bottom: 10px;
   font-style: bold;
}

#brightnessValue,
#saturationValue,
#contrastValue {
   text-align: right;
}

#generate,
#reset {
   font-family: Segoe UI, sans-serif;
   color: #000;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 10px;
   background-color: #E0E0E0;
   cursor: pointer;
   font-size: 18px;
   font-weight: bold;
   width: 140px;
   user-select: none;
}

#generate:hover,
#reset:hover {
   box-shadow: 0 0 16px 0 rgba(200, 200, 200, 0.5)
}

.output-box {
   width: 75%;
   word-wrap: break-word;
   background-color: #2B2A33;
   border-radius: 8px;
   border-color: white;
   border-width: 1px;
   border-style: solid;
}

.apply-settings {
   width: 75%;
   word-wrap: break-word;
   text-align: left;
}

#value-output,
#sql-output {
   margin: 10px;
}

.librecounter {
   position: fixed;
   top: 10px;
   right: 10px;
   display: none;
}

.collapse-btn,
.expand-btn,
.back-to-top {
   color: #fff;
   position: fixed;
   right: 20px;
   padding: 10px 15px;
   background-color: #333;
   border-color: #fff;
   border-style: solid;
   border-width: thin;
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
   width: 8rem;
}

.collapse-btn {
   bottom: 7rem;
}

.expand-btn {
   bottom: 4rem;
}

.back-to-top {
   bottom: 1rem;
}

.collapse-btn:hover,
.expand-btn:hover,
.back-to-top:hover {
   background-color: #ccc;
   color: black;
}